html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

b,
strong {
  font-weight: bolder;
  font-family: 'Futura PT', sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
}

input,
select,
textarea,
button {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

::-ms-clear {
  display: none;
}

input {
  overflow: visible;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font: normal 16px 'Futura PT', sans-serif;
  background: #7D68AB;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  border: none;
  outline: none;
  border-radius: 0;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

input {
  border-radius: 0;
}

/*main styles*/
.hidden-x {
  overflow-x: hidden;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 0 15px;
}

.menu {
  position: relative;
  width: 100%;
  height: 100px;
  background: #7D68AB;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #7D68AB;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}

.menu nav a {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 10px;
}

.menu nav a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s linear;
}

.menu nav a:hover::before,
.menu nav a.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: .2s linear;
}

.action-lenta {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 206px;
  height: 243px;
  padding: 40px 15px 30px;
  text-align: center;
  text-transform: uppercase;
  background: url(../img/lenta-bg.png) center no-repeat;
  background-size: cover;
  z-index: -1
}

.action-lenta-title {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  color: #E4151B;
}

.action-lenta-date {
  font-size: 12px;
  line-height: 15px;
  color: #E4151B;
}

.action-lenta-text {
  font-size: 12px;
  line-height: 15px;
  color: #2B2B2B;
  margin-top: 15px;
}

.baloon-main {
  position: absolute;
  width: 818px;
  height: 889px;
  top: -226px;
  left: -164px;
  background: url(../img/baloon_main_screen-min.png) center no-repeat;
  background-size: cover;
  z-index: -1;
  animation: spiderSwaying 5s infinite linear;
}

@keyframes spiderSwaying {
  0% {
      transform: rotate(-10deg) translateX(-10px);
  }
  25% {
      transform: rotate(0deg) translateX(0);
  }
  50% {
      transform: rotate(10deg) translateX(10px);
  }
  75% {
      transform: rotate(0deg) translateX(0);
  }
  100% {
      transform: rotate(-10deg) translateX(-10px);
  }
}

.cloud {
  position: absolute;
}

.cloud1 {
  width: 149px;
  height: 52px;
  left: 335px;
  top: 227px;
  background: url(../img/cloud_1.svg) center no-repeat;
  background-size: cover;
  z-index: -2;
}

.cloud3 {
  width: 180px;
  height: 72px;
  left: 268px;
  top: 240px;
  background: url(../img/cloud_3.svg) center no-repeat;
  background-size: cover;
  z-index: -3;
}

.cloud2 {
  width: 175px;
  height: 154px;
  right: 0;
  top: 388px;
  background: url(../img/cloud_2.svg) center no-repeat;
  background-size: cover;
  z-index: -1;
}

.cloud4 {
  width: 320px;
  height: 134px;
  left: 0;
  top: 571px;
  background: url(../img/cloud_4.svg) center no-repeat;
  background-size: cover;
  z-index: -2;
}

.main-block {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  left: 80px;
}

.main-block-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 3px 0px #4C3484;
  margin-bottom: 70px;
}

.main-block-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-block-product {
  position: relative;
  text-align: center;
}

.main-block-product:first-child {
  max-width: 210px;
}

.main-block-product:last-child {
  max-width: 267px;
}

.main-block-product:first-child::after {
  content: '';
  position: absolute;
  top: 150px;
  right: -125px;
  width: 89px;
  height: 89px;
  background: url(../img/arrow-products.svg) center no-repeat;
  background-size: cover;
}

.main-block-product:first-child .main-block-img {
  max-width: 185px;
  margin: auto;
}

.main-block-product:last-child .main-block-img {
  max-width: 207px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-block-product-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.main-block-product-subtitle {
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #FCC517;
  margin-bottom: 15px;
}

.main-block-product-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}

.main-block-product-subtext {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.block-products {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 120px 0 210px;
}

.cloud-bg {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 1000px;
  background: url(../img/cloud_bg.svg) center no-repeat;
  background-size: 1920px 1000px;
  z-index: -1;
}

.cloud5 {
  width: 178px;
  height: 136px;
  left: 0;
  top: 150px;
  background: url(../img/cloud_5.svg) center no-repeat;
  background-size: cover;
  z-index: 0;
}

.cloud6 {
  width: 393px;
  height: 150px;
  right: 0;
  bottom: 130px;
  background: url(../img/cloud_6.svg) center no-repeat;
  background-size: cover;
  z-index: 0;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
}

.products {
  margin-top: 70px;
  /*margin-left: auto;
  margin-right: auto;*/
  /*width: 100%;
  max-width: 1024px;*/
}

.product {
  /*max-width: 270px;*/
  /*margin: 0 50px;*/
}

.block-products .swiper-slide {
  width: 100%;
  max-width: 400px;
  height: 520px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  text-align: center;
}

.block-products .swiper-slide-prev {
  opacity: .8;
}

.block-products .swiper-slide-next {
  opacity: .8;
}

.block-products .swiper-slide-active {
  opacity: 1;
}

.product-img {
  max-width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.product-img img {
  max-height: 290px;
  margin: auto;
}

.product-info,
.product-weight {
  display: none;
}

.swiper-slide-active .product-info {
  display: block;
  max-width: 268px;
  margin-top: 30px;
  margin: 30px auto 10px;
  font-size: 21px;
  line-height: 27px;
}

.swiper-slide-active .product-weight {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  font-size: 0;
  width: 30px;
  height: 52px;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.swiper-button-prev {
  background: url(../img/arrow-left.svg) center no-repeat;
  background-size: cover;
  right: 450px;
}

.swiper-button-next {
  background: url(../img/arrow-right.svg) center no-repeat;
  background-size: cover;
  left: 450px;
}

.block-feedback {
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}

.baloon2 {
  position: absolute;
  top: 0;
  right: -200px;
  width: 550px;
  height: 660px;
  z-index: 0;
}

.baloon3 {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 357px;
  height: 397px;
  z-index: 0;
}

.cloud7 {
  width: 269px;
  height: 92px;
  left: 150px;
  top: 150px;
  background: url(../img/cloud_7.svg) center no-repeat;
  background-size: cover;
  z-index: -1;
}

.cloud8 {
  width: 389px;
  height: 189px;
  left: 270px;
  top: 160px;
  background: url(../img/cloud_8.svg) center no-repeat;
  background-size: cover;
  z-index: -2;
}

.cloud9 {
  width: 239px;
  height: 95px;
  right: 450px;
  bottom: 70px;
  background: url(../img/cloud_9.svg) center no-repeat;
  background-size: cover;
  z-index: -2;
}

.cloud10 {
  width: 210px;
  height: 102px;
  right: 550px;
  bottom: 30px;
  background: url(../img/cloud_10.svg) center no-repeat;
  background-size: cover;
  z-index: -1;
}

.container-feedback {
  width: 100%;
  max-width: 492px;
  margin: auto;
  text-align: center;
}

.feedback-text {
  max-width: 455px;
  font-weight: 300;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
}

.feedback-form {
  margin-top: 40px;
}

.input-field {
  max-width: 492px;
  position: relative;
  margin-bottom: 15px;
}

.select-field {
  z-index: 2;
}

.input-field input {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  padding: 0 27px;
  font-family: 'Futura PT';
  font-weight: 300;
  font-size: 21px;
  line-height: 27px;
  color: #1E0D47;
  border: 3px solid transparent;
}

.input-field select {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  padding: 0 27px;
  font-family: 'Futura PT';
  font-weight: 300;
  font-size: 21px;
  line-height: 27px;
  color: #1E0D47;
  border: 3px solid transparent;
}

.select2-container span {
  outline: none;
}

.select2-container .select2-selection--single {
  border-radius: 31px;
  width: 100%;
  height: 60px;
  padding: 15px 27px;
  border: 3px solid transparent;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #1E0D47;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #757575;
  font-size: 21px;
  font-weight: 300;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #52388F transparent transparent transparent;
  border-width: 15px 14px 0 14px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #52388F transparent;
  border-width: 0 14px 15px 14px;
}

.select2-dropdown {
  border-radius: 31px;
  color: #1E0D47;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.select2-container--open .select2-dropdown--below {
  padding-top: 30px;
  top: -30px;
  z-index: 1;
}

.select2-results__options {
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
}

.select2-results__option {
  font-size: 21px;
  height: 52px;
  padding: 11px 27px;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #B7A6D2;
}

.input-field textarea {
  width: 100%;
  height: 170px;
  border-radius: 31px;
  padding: 15px 27px;
  font-family: 'Futura PT';
  font-weight: 300;
  font-size: 21px;
  line-height: 27px;
  color: #1E0D47;
  resize: none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  border: 3px solid transparent;
}

.input-field textarea::-webkit-scrollbar {
  width: 0;
}

.input-field input.error,
.input-field textarea.error,
.select-field select.error + .select2-container .select2-selection--single {
  border: 3px solid #E4151B;
}

.input-field span.error {
  position: absolute;
  top: 22px;
  right: 25px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #E4151B;
  z-index: 1;
}

.select-field span.error {
  right: 50px;
}

.button-wrapper {
  max-width: 492px;
  margin-top: 25px;
}

.btn {
  display: block;
  width: 100%;
  height: 48px;
  background: #FCC517;
  box-shadow: 0px 3px 0px #D9AA14;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: .2s linear;
}

.btn:hover {
  background: #DFAF15;
  box-shadow: 0px 3px 0px #A88514;
}

.btn:focus {
  background: #FCC517;
  box-shadow: none;
}

.btn.disabled {
  pointer-events: none;
  color: #C1C1C1;
  background: #E5E5E5;
  box-shadow: 0px 3px 0px #B7A6D2;
}

.cloud-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 579px;
  background: url(../img/bg_shape@2x.png) center no-repeat;
  background-size: cover;
  z-index: -1;
}

footer {
  position: relative;
  padding: 350px 0 70px;
  max-width: 1920px;
  margin: auto;
  z-index: 1;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-menu a {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.phone-wrapper {
  display: flex;
  flex-direction: column;
}

.phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.email {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}

.logo-mndlz {
  width: 100%;
  max-width: 132px;
  margin: auto;
}

.copyright-wrapper {
  display: flex;
  flex-direction: column;
}

.copyright-text {
  margin-top: 15px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.socials-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.soc-img {
  margin-right: 15px;
  width: 48px;
}

.soc-img:last-child {
  margin: 0;
}

.parallax-mirror {
  overflow: inherit !important;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(12, 4, 30, 0.75);
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 330px;
  height: 341px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  z-index: 1001;
}

.popup-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #52388F;
}

.popup-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #232323;
  margin: 30px 0 50px;
}

@media (max-width: 1270px) {
  .action-lenta {
    right: 15px;
  }
}

@media (max-width: 1190px) {
  .container {
    max-width: 990px;
  }

  .action-lenta {
    top: 95px;
    width: 120px;
    height: 135px;
    padding: 10px;
  }

  .action-lenta-title {
    font-size: 27px;
    line-height: 35px;
  }

  .action-lenta-date {
    font-size: 8px;
    line-height: 10px;
  }

  .action-lenta-text {
    font-size: 10px;
    line-height: 13px;
    margin-top: 10px;
  }

  .baloon-main {
    width: 500px;
    height: 543px;
    top: -50px;
    left: -90px;
  }

  .baloon2 {
    right: -130px;
    width: 400px;
    height: 480px;
  }

  .cloud1 {
    left: 240px;
  }

  .cloud1 {
    left: 240px;
  }

  .cloud3 {
    left: 180px;
  }

  .cloud4 {
    width: 256px;
    height: 107px;
    top: 430px;
  }

  .cloud6 {
    bottom: 100px;
  }

  .cloud7 {
    left: 50px;
  }

  .cloud8 {
    left: 150px;
  }

  .cloud9 {
    right: 50px;
  }

  .cloud10 {
    right: 150px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 355px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -276px;
    width: 276px;
    height: 100vh;
    background: #614B94;
    box-shadow: none;
    z-index: 999;
    transition: .2s linear;
  }

  .menu.active {
    left: 0;
  }

  .burger {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 32px;
    height: 32px;
    background: url(../img/menu_icon.svg) center no-repeat;
    background-size: cover;
    z-index: 1000;
    transition: .2s linear;
  }

  .burger.active {
    left: 306px;
  }

  .menu nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: none;
    padding: 22px;
  }

  .menu nav a {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 21px;
    line-height: 27px;
    margin: 24px auto;
  }

  .menu nav a:first-child {
    margin-top: 10px;
  }

  .menu nav a::before,
  .menu nav a:hover::before, 
  .menu nav a.active::before {
    bottom: -20px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
  }

  .action-lenta {
    top: 0;
    z-index: 0;
  }

  .main {
    position: relative;
    overflow: hidden;
  }

  .baloon-main {
    width: 500px;
    height: 543px;
    top: -150px;
    left: -70px;
    right: -110px;
    margin: auto;
  }

  .cloud1 {
    width: 97px;
    height: 34px;
    top: 150px;
    left: 270px;
    right: 0;
    margin: auto;
  }

  .cloud3 {
    width: 117px;
    height: 47px;
    top: 160px;
    left: 200px;
    right: 0;
    margin: auto;
  }

  .cloud2 {
    width: 96px;
    height: 85px;
    top: 600px;
  }

  .cloud2-mobile {
    width: 77px;
    height: 86px;
    top: 950px;
    left: 0;
    background: url(../img/cloud_2-mobile.svg) center no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .cloud4 {
    width: 139px;
    height: 59px;
    top: 250px;
  }

  .main-block {
    position: relative;
    max-width: 264px;
    margin-top: 385px;
    left: 0;
  }

  .main-block-title {
    font-size: 30px;
    line-height: 38px;
  }

  .main-block-products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-block-product {
    text-align: center;
  }

  .main-block-product:first-child {
    margin-bottom: 35px;
  }

  .main-block-product .main-block-img {
    margin: auto;
  }

  .main-block-product:first-child::after {
    display: none;
  }

  .block-products {
    padding: 120px 0 140px;
  }

  .cloud-bg {
    height: 1050px;
    background-size: 1900px 1050px;
  }

  .cloud5 {
    width: 90px;
    height: 70px;
    top: 230px;
    z-index: -1;
  }

  .cloud6 {
    width: 225px;
    height: 86px;
    bottom: 50px;
  }

  .swiper-button-prev {
    right: 290px;
  }

  .swiper-button-next {
    left: 290px;
  }

  .block-feedback {
    padding-bottom: 20px;
    z-index: 2;
  }

  .baloon2 {
    top: 200px;
    right: -100px;
    width: 184px;
    height: 239px;
    background: url(../img/baloon_small_1@2x.png) center no-repeat;
    background-size: cover;
  }

  .baloon3 {
    width: 200px;
    height: 210px;
    left: -80px;
    top: 330px;
    background: url(../img/baloon_small_2@2x.png) center no-repeat;
    background-size: cover;
  }

  .cloud7 {
    width: 118px;
    height: 40px;
    left: -30px;
  }

  .cloud8 {
    width: 149px;
    height: 72px;
    left: 5px;
  }

  .cloud9 {
    width: 138px;
    height: 55px;
    right: 0;
    bottom: 210px;
  }

  .cloud10 {
    width: 137px;
    height: 67px;
    right: 100px;
    bottom: 180px;
  }

  .block-feedback .title {
    width: 167px;
    margin: auto;
  }

  .input-field {
    max-width: 343px;
  }

  .input-field span.error {
    top: 3px;
  }

  .select-field span.error {
    right: 25px;
  }

  footer {
    padding: 70px 0 50px;
  }

  .cloud-footer {
    min-height: 670px;
  }

  .footer-menu {
    flex-direction: column;
  }

  .footer-menu a {
    margin: 10px 0;
  }

  .footer-row {
    flex-direction: column;
    justify-content: center;
  }

  .phone-wrapper {
    margin-bottom: 30px;
  }

  .copyright-wrapper {
    order: 1;
  }

  .socials-wrapper {
    margin-bottom: 40px;
  }
}

@media (max-width: 370px) {
  .container {
    max-width: 320px;
  }

  .burger {
    top: 15px;
    left: 15px;
  }

  .burger.active {
    left: 271px;
  }

  .menu {
    width: 256px;
  }

  .swiper-button-prev {
    right: 260px;
  }

  .swiper-button-next {
    left: 260px;
  }

  .swiper-slide-active .product-info {
    max-width: 230px;
  }

  .select2-container {
    max-width: 290px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .main-block-product:last-child .main-block-img,
   .product-img {
    display: block;
   }
}